@import url('https://fonts.googleapis.com/css?family=Kumbh+Sans:400,200');

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth !important;
  top: 0;
  bottom: 0;
}

body {
  height: 100%;
  width: 100%;
  color: white !important;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5), 0px 0px 20px #000000;
  scroll-behavior: smooth !important;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.3); 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  overflow: hidden;
}

.loadingScreen {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  justify-content: center;
  align-items: center;
  z-index: 6;

  animation: fade 3s ease-in 2s 1 forwards;
}

@keyframes fade {
  from {
    background-color: none;
  }

  to {
    opacity: 0%;
  }
}

#loadText {
  z-index: 7;
  position: absolute;
}

#intro {
  z-index: 8;
}

#introText {
  z-index: 9;
  position: absolute
}

/***************NAV BAR***************/
#nav {
  display: none;
}

label #open,
label #close {
  z-index: 3;
  left: 2.5%;
  top: 5%;
  position: fixed;
  cursor: pointer;
}

label #close {
  opacity: 0;
  top: 3.5%
}

label #close2 {
  top: 0;
  left: 15%;
  height: 100%;
  width: 100%;
  z-index: -3;
  position: fixed;
}

#nav:checked~nav {
  left: 5%;
}

#nav:checked~.navBg {
  opacity: 1;
  z-index: 1
}

#nav:checked~label #open {
  opacity: 0;
}

#nav:checked~label #close {
  opacity: 1;
}

#nav:checked~label #close2 {
  z-index: 2;
}

nav {
  /*make the elements slide in individually*/
  display: flex;
  position: fixed;
  height: 100%;
  font-size: 1.618rem;
  left: -300px;
  z-index: 3;
  justify-content: space-around;
  flex-direction: column;
  transition: 1s;
}

.navBg {
  top: 0;
  left: 0;
  z-index: -2;
  position: fixed;
  width: 75%;
  height: 100%;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  transition: 0.75s;
}

.gg-menu {
  transform: scale(var(--ggs, 1))
}

.subLink{
  font-size: 1.3rem;
  margin-left: auto;
}

nav a {
  color: white;
  text-decoration: none;
}

/***************NAV BAR***************/




header {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-decoration-thickness: 0.4rem;
  text-underline-offset: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  align-content: center;
}

main div {
  margin: 0 auto;
}

main ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10%;
  list-style: none;
  justify-content: center;
  width: 45rem;
  margin: 0 auto;
  padding: 0;
}

main ul li {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.3rem white solid;
  padding: 0 0.5rem;
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
}

/*make rating system later*/

.skillSection,
.gallerySection {
  display: flex;
  min-height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 10rem;
}


.aboutMeSection {
  display: flex;
  align-content: start;
  flex-direction: column;
  width: 56rem;
}

#gal1, #gal2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}
#gal1 .title,
#gal2 .title{
  width:fit-content;
  height:fit-content;
  margin:0;
}

/**********NOT ENOUGH TIME TO IMPLEMENT :(

#gal1vid{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inset(50% 0 0 0);
}
#gal1{
  position: relative;
}

*/


/***************FOOTER***************/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5%;
  padding: 10% 0;
  flex: 0 0;
}

#inspButton{display:none;}
.inspLabel {cursor: pointer;}

/*moved the button function to js bcuz was taking too long to debug here*/

#inspList {
  position: fixed;
  display: flex;
  
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  
  transition: 1s;
  height:100%;
  justify-content:center;
  align-content: center;
  z-index: 3;
  overflow-y: scroll;
}

#inspList a {
  text-decoration: none;
  color: white;
  font-size: 1.618rem;
}
#inspList a:hover {
  text-decoration: underline;
}

ul li {list-style: none;}

#inspList ul{
  height: auto;
  padding:0;
  margin: 0 2rem;
}
#inspList ul li{
  width:fit-content;
  padding:0;
  margin: 50% auto;
}

#inspBg {
  bottom: 0;
  left: 0;
  z-index: -2;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  transition: 750ms;
}



.media {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
  position: relative;
}

.mIcons {
  display: flex;
  flex-direction: row;
  z-index: 1;
  position: absolute;
  margin-top: 3.5rem;
  gap: 1.5rem;
}

.mIcons a {
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
}

.mIcons a:hover {
  color: gray;
  transition: 0.2s;
}

.gg-mail {
  margin-top: 0.2rem;
  --ggs: 1.5;
}

/***************FOOTER***************/


/***************TYPESCALE STUFF***************/
# a {
  text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5), 0px 0px 20px #000000;
}

* i {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
}

p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 200;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 11.089rem;
}

h2 {
  font-size: 6.854rem;
}

h3 {
  font-size: 4.236rem;
}

h4 {
  font-size: 2.618rem;
}

h5 {
  font-size: 1.618rem;
}

small,
.text_small {
  font-size: 0.618rem;
}

/***************TYPESCALE STUFF***************/